{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="profile_text"><h1>This is a test site as a portfolio for job offer, to show everyone, how good I am at django and deploy it. </h1>
<br>
<h2>mail: 237629134pah@gmail.com</h2>
<br>
<h2>Question about commercial? Contact us! </h2>
<br>
<h2>Phone: +3 8 063 373 12 55</h2>
<br>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5499.90194632207!2d30.701902256089063!3d46.42985130852649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1721293794661!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock content %}
