{% extends "base.html" %} {% load static %} {% block content %}
<main class="wrapper">
  <h1 class="welcome workSans-h4-h3-h1">Welcome to Animalshare</h1>
  <!--? раздел херо -->
  <div class="hero">
    <div class="hero__description">
      <p class="hero__text--color workSans-h5">
        If you have seen a homeless animal or lost your pet, visit our forum and leave your ad,
        this will help find a new home for our smaller brothers.
        In the market section, you can choose products for your pet.
      </p>
      <p class="workSans-base">
        This is a test but fully working project project, to demonstrate skills in working with Django and the visual part.
        The user database is stored for 24 hours. If you decide to become a sponsor, a full launch is possible. 
      </p>
      <div class="hero__statistics">
        <div class="hero__post-statistics">
          <p class="spaceMono-h5-h4">{{ posts_quantity|default:'N/A' }}+</p>
          <p class="workSans-base-body">Posts</p>
        </div>
        <div class="hero__profile-statistics">
          <p class="spaceMono-h5-h4">{{ users_quantity|default:'N/A' }}+</p>
          <p class="workSans-base-body">Profiles</p>
        </div>
        <div class="hero__goods-statistics">
          <p class="spaceMono-h5-h4">{{ products_quantity|default:'N/A' }}+</p>
          <p class="workSans-base-body">Products</p>
        </div>
      </div>
    </div>
    <div class="homepage-post-cards">
      <div class="homepage-post-card">
        <a class="homepage-post-card__a" href="{{ post.animal_image.url }}">
          <img
            class="homepage-post-card__img"
            src="{{ post.animal_image.url }}"
            alt="Post picture"
        /></a>
        <div class="homepage-post-card__description">
          <a
            href="{% url 'post-detail' post.id %}"
            class="homepage-post-card__sign workSans-h5"
            >{{ post.title }}</a
          >
          <a
            href="{% url 'user-posts' post.author.username %}"
            class="homepage-post-card__author workSans-base"
          >
            <img
              class="homepage-post-card__avatar"
              src="{{ post.author.profile.image.url }}"
              alt="Avatar"
            />{{post.author}}</a
          >
        </div>
      </div>

      <div class="homepage-post-card">
        <a href="{% url 'product' product.slug %}" class="homepage-post-card__a">
          <img class="homepage-post-card__img" src="{{ product.image.url }}" alt="Post picture" />
        </a>
        <div class="homepage-post-card__description">
          <a
            href="{% url 'product' product.slug %}"
            title="{{ product.name }}"
            class="homepage-post-card__sign workSans-h5"
            >{{ product.name|truncatechars:25 }}</a
          >
          <a href="/" class="homepage-post-card__author workSans-base"
            >{{ product.sell_price }} UAH</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
<!--? Конец раздела херо -->
{% endblock content %}
