<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if title %}{{title}}{% else %}Animalshare{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Ubuntu/stylesheet.css' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static "image/icons/favicone.ico" %}" />
<body>
<header>
    <nav class="dark-grey wrapper flex">
        <a href="{% url 'blog-home' %}"> Go Home page</a> <!-- формат записи ссылок без хардкодинга, референс имени из вкладки urls.py-->
        <a href="{% url 'post-create' %}"> Create a new post</a>
        <p>Totall posts: {{ posts_quantity|default:'N/A' }}</p>
        <p>Totall users: {{ users_quantity|default:'N/A' }}</p>
        <p>Products in market: {{ products_quantity|default:'N/A' }}</p>
        {% if user.is_superuser or user.is_stuff %}
        <a href="{% url 'admin:index' %}"> For Admin</a><!--пришлось поискать, но редирект на админ панель происходит именно так-->
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}"> My profile</a> <!-- условие для отображения ссылок на регистрацию и входа на сайт-->
        <a href="{% url 'logout' %}"> Log Out</a>
    {% else %}
        <a href="{% url 'register' %}"> Registration form | </a>
        <a href="{% url 'login' %}"> Log In | </a>
    {% endif %} 
    </nav>
</div>
<div class="logo-long wrapper">
    <a href="{% url 'blog-home' %}"><img src="{% static 'image/logo-long2.png' %}" alt="Logo-photo" width="1150" height="98"></a>
</div>
</header>
{% if messages %}
    {% for message in messages %}
    <div class="warning">
        {{ message }} <!--тут мы сделали условие и цикл перечиления для отображения предупредительного сообщения
        о успехе/не успехе создания нового пользователя по форме-->
    </div>
    {% endfor %}
{% endif %}
<main class="dark-grey wrapper flex">
    {% if user.is_authenticated %}
    <aside class="aside-left flex column">
        <button><a href="{% url 'user-posts' request.user.username %}" title="My posts"> <!--возвращает имя пользователя как агрумент-->
            <img src="{% static "image/icons/logo-on-blue.png" %}" alt="button1" width="50" height="50">
        </a></button>
        <button><a href="{% url 'user-comments' %}" title="My Comments">
            <img src="{% static "image/icons/logo-min-on-blue-comments.png" %}" alt="button1" width="50" height="50">
        </a></button>
    {% else %}
    <aside class="aside-left flex column">
        <button><a href="{% url 'login' %}" title="My posts"> <!--возвращает имя пользователя как агрумент-->
            <img src="{% static "image/icons/logo-on-blue.png" %}" alt="button1" width="50" height="50">
        </a></button>
        <button><a href="{% url 'login' %}" title="My Comments">
            <img src="{% static "image/icons/logo-min-on-blue-comments.png" %}" alt="button1" width="50" height="50">
        </a></button>
    {% endif %}
        <button><a href="{% url 'usertouser:inbox' %}" title="My messages">
            <img src="{% static "image/icons/logo-min-on-blue_message.png" %}" alt="button1" width="50" height="50">
        </a></button>
        <button><a href="{% url 'gallery' %}" title="Gallery">
            <img src="{% static "image/icons/logo-min-on-blue-photo.png" %}" alt="button1" width="50" height="50">
        </a></button>
        <button><a href="{% url 'catalog-all' %}" title="AnimalShop">
            <img src="{% static "image/icons/logo-min-shop.png" %}" alt="button1" width="50" height="50">
        </a></button>
        <button><a href="{% url 'blog-about' %}" title="About us">
            <img src="{% static "image/icons/logo-min-on-white.png" %}" alt="button1" width="50" height="50">
        </a></button>
    </aside>
    <section class="post-block flex column">
    {% block content %}{% endblock %}
    </section>
    <aside class="aside-right flex column">
        <div class="advertising-card first-advertising-card">
            <a href="{% url 'blog-about' %}"><img src="{% static "image/commercial2.jpg" %}" alt="Зоомагазин на Привозе" title="Our sponsors" width="200" height="200" target="_blank"></a>
            </div>
        <div class="advertising-card second-advertising-card">
            <a href="{% url 'blog-about' %}"><img src="{% static "image/commercial1.jpg" %}" alt="Сухой корм для собак 2190 грн." title="Our sponsors" width="200" height="200" target="_blank"></a>
            </div>
        <div class="advertising-card fird-advertising-card">
            <a href="{% url 'blog-about' %}"><img src="{% static "image/advertisement-running-wheel-img.jpg" %}" alt="Беговое колесо для кота" title="Our sponsors" width="200" height="200" target="_blank"></a>
            </div>
    </aside>
</main>
</body>
</html>