{% extends "base.html" %} <!-- загрузка повторяемых элементов из родительсткого шаблона -->
{% load static %}  <!-- подгружать статики нужно на каждой странице независимо есть ли эта команда в родительском шаблоне -->
{% block content %} <!-- начало уникального контента для данной страницы-->
<!--? Вставить переменную для смены bg-img -->
<section class="title bg{{variable}}">
  <!--! Вставить переменную для смены bg-img -->
  <a class="title__text wrapper workSans-h4-h3-h2" href="{% url 'forum' %}"
    >Forum</a>
</section>
<main>
  <nav class="sort__nav wrapper">
    <a class="workSans-btns-h5" href="{% url 'post-create' %}">Create a post</a>
    <a class="workSans-btns-h5" href="{% url 'user-posts' request.user.username %}">My posts</a>
    <a class="workSans-btns-h5" href="{% url 'user-comments' %}">My comments</a>
    <a class="workSans-btns-h5" href="{% url 'usertouser:inbox' %}">My messages</a>
    <a class="workSans-btns-h5 violet" href="{% url 'gallery' %}">Gallery</a>
  </nav>
  <section class="pictures">
    <div class="forum-cards--bg">
      <div class="sub-title__border">
        <h2 class="sub-title workSans-h5-h4 wrapper">Gallery</h2>
      </div>
      <div class="sub-title__border sub-title__border--in-gallery">
        <div class="pictures-cont wrapper">
        {% for post in gallery %} <!-- начало цикла словарей из модуля views.py  -->
          <div class="picture-card">
            <a class="picture-card__a-whith-img" href="{{ post.animal_image.url }}">
              <img class="picture-card__img" src="{{ post.animal_image.url }}"
                alt="Post animal">
            </a>
            <a class="picture-card__text workSans-h5" href="{% url 'post-detail' post.id %}"
            title="Go to post"
              >{{ post.title }}</a
            >
          </div>
          {% endfor %}
          {% include "blog/pagination_include.html" %}
        </div>
      </div>
<!--? Конец раздела Меин -->

{% endblock content %} <!-- конец уникального контента для данной страницы -->