* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #edeee9;
}

.slider {
    width: 3%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #edeee9;
    overflow: hidden;
  }
  
.main {
    height: 96%;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: top;
  }

.header {
    height: 5%;
    width: 100%;
    vertical-align: top;
    background-color: rgb(22, 174, 230);
    padding: 0px 0px 10px 0px;
}

.firstblock {
    height: 20%;
    width: 24.7%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    background-color: bisque;
}

.secondmain {
  width: 100%;
  display: block;
}

.post_block {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    background-color: aqua;
  }

.right_section {
    width: 24.5%;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
  }

.warning {
  height: 8%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: greenyellow;
  text-decoration: crimson;
  text-align: center;
  font-size: xx-large;
}

.profilepic {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  vertical-align: left;
  background-color: #EEDDFF;
  border: 5px solid #7922CC;
  border-radius: 40px;
}

.profile_text {
  height: 20%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: medium;
}

.login_text {
  height: 5%;
  width: 20%;
  display: inline-block;
  vertical-align: right;
  position: absolute; right: 20px;
  text-align: right;
}

.post_content {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

.animalpic {
  width: 34%;
  display: inline-block;
  vertical-align: top;
}