{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "carts/includes/included_cart.html" %} <!--заинклудил разметку корзины, дальше пишем форму доставки и оплаты-->
<center><h1>Order details</h1></center>
<div class="#">
    <div class="#">
        <div class="#">
            <form action="{% url 'create-order' %}" method="post" id="create_order_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="#">
                    <div class="#">
                        <label for="id_first_name" class="form-label">*First name:</label>
                        <input type="text" class="form-control" id="id_first_name"
                            value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                            name="first_name" required>
                        {% if form.first_name.errors %}
                            <div class="warning login-warning">{{form.first_name.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="#">
                        <label for="id_last_name" class="form-label">*Last name:</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name"
                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                        required>
                        {% if form.last_name.errors %}
                            <div class="warning login-warning">{{form.last_name.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="#">
                        <label for="id_phone_number" class="form-label">*Phone number:</label>
                        <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                            value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                            placeholder="(000) 000-00-00"
                            required>
                        {% if form.phone_number.errors %}
                            <div class="warning login-warning">{{form.phone_number.errors}}</div>
                        {% endif %}
                        <div class="warning login-warning" style="display: none" id="phone_number_error">Wrong number added.</div>
                    </div>
                    <div class="#">
                        <label for="delivery" class="form-label">Delivery type: </label>
                        <div class="#">
                            <input class="form-check-input" type="radio" name="requires_delivery"
                                id="id_requires_delivery" value="1" checked>
                            <label class="form-check-label" for="id_requires_delivery">Bring it to me</label>
                        </div>
                        <div class="#">
                            <input class="form-check-input" type="radio" name="requires_delivery"
                                id="id_requires_delivery" value="0">
                            <label class="form-check-label" for="id_requires_delivery">I'll carry it by myself</label>
                        </div>
                    </div>
                    <div class="#" id="deliveryAddressField">
                        <label for="id_delivery_address" class="form-label">*Delivery adress:</label>
                        <textarea class="form-control" id="id_delivery_address"
                            value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                            name="delivery_address" rows="2" placeholder="Skip if not neccesarry"></textarea>
                        {% if form.delivery_address.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="#">
                        <label class="form-label">Payment method: </label>
                        <div class="#">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                id="id_payment_on_get" value="0" checked>
                            <label class="form-check-label" for="id_payment_on_get">Credit card</label>
                        </div>
                        <div class="#">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                id="id_payment_on_get" value="1">
                            <label class="form-check-label" for="id_payment_on_get">By cash when delivered</label>
                            {% if form.payment_on_get.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="#">I need it!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}