{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}<!--запускается шаблонный тэг, берет значение user_carts и записывается в переменную carts-->

<p>My orders</p>
{% for cart in carts %}
<div class="shop-page-card shop-page-card-cont">
    <div class="shop-page-card-cont-left">
        <a href="{% url 'product' cart.product.slug %}" title="Go to description">
            <img src="{{ cart.product.image.url }}" alt="img" >
        </a>
    </div>
    <div class="shop-page-card-cont-middle">
        <a class="post-title" href="{% url 'product' cart.product.slug %}" title="{{cart.product.name}}">{{ cart.product.name|truncatechars:35 }}      
        </a><!--оберание оборажения более чем 20ти символов на странице-->
        <p>{{ cart.product.sell_price }}$</p>
        <strong>Totall {{ cart.products_price }}$</strong><!--обращаемся в методу, написанному в carts/Carts.Models-->
    </div>
    <div class="shop-page-card-cont-right">
        <button type="button" class="" data-cart-id="" data-cart-change-url="">-</button>
        <p>WTB {{ cart.quantity }} pieces</p>
        <button type="button" class="" data-cart-id="" data-cart-change-url="">+</button>
        <a href="{% url 'cart-remove' cart.id %}" class="" data-cart-id="">
        <img class="" src="{% static 'image/icons/trash.png' %}" alt="img" width="16" height="16">
        </a>
    </div>
</div>
{% endfor %}
<strong>{{ carts.totall_quantity }} goods for totall {{ carts.totall_price }} $</strong>
{% if carts %}<!--показываем кнопку Заказать только если есть корзины пользователя-->
<strong><a href="#">Place an order!</a></strong>
{% endif %}