{% extends "base.html" %}
{% load static %}
{% block content %}
<center><form method="POST">
    {% csrf_token %}
    <h1 class="create-acc__title workSans-h3-h2">Delete Post</h1>
    <p class="workSans-base-body">Are you sure you wont to delete Post "{{ object.title }}"</p>
    <button
    class="btn btn--form btn--Filled btn--Tertiary btn--margin-top20 workSans-btns"
    type="submit">
    Yes, delete!
  </button>
  <a
  href="{% url 'post-detail' object.id %}"
  class="a-as-btn btn btn--form btn--Outlined btn--Tertiary workSans-btns"
  >Cancel</a>
</form></center>
{% endblock content %}