{% extends "base.html" %}
{% load static %}
{% block content %}
<form class="" role="login" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p><b>Log In</b></p>
    {% if form.non_field_errors %}
    <div class="warning login-warning">{{form.non_field_errors}}</div> <!--альтернатива джанго мессаджес, выводит инфу о ошибке в поле, если она есть-->
    {% endif %}
    <div>
        <label for="{{ form.username.id_for_label }}" placeholder="Username"></label>
        <input type="text" class="" name="username"  
        value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
        id="id_username" placeholder="Username" required>
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}" placeholder="Password"></label>
        <input type="password" class="" name="password" id="id_password" placeholder="Password" required>
    </div>
    <p>
        <button type="submit">Log In</button>
    </p>
</form>
<p>Forget your password?</p>
    <p><a href="{% url 'password_reset' %}">Reset password</a></p>
<p>Need an account?</p>
    <p><a href="{% url 'register' %}">Sign Up</a></p>
{% endblock content %}