{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="create-acc-main"></main>
<!--? Фоновая картинка для раздела Create Account -->
<div class="bg-left bg-left2"><!--<img src="{% static 'bg-img/sobaka-zhivotnoe-pes-vzglyad.jpg' %}">--></div>
<!--? Начало раздела Create Acc -->
<section class="create-acc create-acc--wrapper">
    <div class="create-acc__description">
    <h1 class="create-acc__title workSans-h3-h2">Password reset.</h1>
    <p class="workSans-base-body">
        Print email in from below and you will recive email with instructions for password reset.
    </p>
    </div>
<form method="POST">
    {% csrf_token %}
    <form class="create-acc-form" role="login" action="{% url 'password_reset' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="">
        <p class="spaceMono-h5-h4">{{form.non_field_errors}}</p></div> <!--альтернатива джанго мессаджес, выводит инфу о ошибке в поле, если она есть-->
        {% endif %}
        <label for="{{ form.email.id_for_label }}" placeholder="Email"></label>
        <input
            class="form-input create-acc-form__input--username workSans-base"
            type="text"
            name="email"
            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
            id="email"
            placeholder="email"
            required
        />
    <button
        class="btn btn--form btn--Filled btn--Tertiary workSans-btns"
        type="submit"
    >
        Reset
    </button>
</form>
</section>
{% endblock content %}