{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="gallery-page shop-page-card">
    <image class="userpic" src="{{ user.profile.image.url }}" 
></image>
 <!---->
<form method="POST" enctype="multipart/form-data"> <!--тип кодировки, для того что бы наша форма вставила правильные данные изображения, если забыть, форма не будет сохранять обновленное изображение--> 
    {% csrf_token %}
    <p><b>Profile info Update</b></p>
    {% if form.non_field_errors %}
    <div class="warning login-warning">{{form.non_field_errors}}</div> <!--альтернатива джанго мессаджес, выводит инфу о ошибке в поле, если она есть-->
    {% endif %}
    <div>
        <input type="text" class="" name="username"  
        value="{{ u_form.username.value }}" 
        id="id_username" placeholder="Username" required>
        <label for="{{ u_form.username.id_for_label }}" placeholder="Username">Change your name here</label>
    </div>
    <div>
        <input type="email" class="" name="email" value="{{ u_form.email.value }}" id="id_email" placeholder="Email" required>
        <label for="{{ u_form.email.id_for_label }}" placeholder="Email">Change your email</label>
    </div>
    {{ p_form.as_p }}
    <p><button type="submit">Update</button></p>
</form>
<p>Not sure about your password?</p>
    <p><a href="{% url 'password_reset' %}">Reset password</a></p>
</div>
{% include "carts/includes/included_cart.html" %}
<strong><a href="{% url 'create-order' %}">Place an order!</a></strong>
</div>
{% endblock content %}