{% extends "base.html" %} {% load static %} {% block content %}
<section class="title bg{{variable}}">
  <h1 class="title__text title__text--my-profile wrapper workSans-h4-h3-h2">
    My profile
  </h1>
</section>
<main class="wrapper">
  <section class="profile-top">
    <!-- Левая сторона: -->
    <div class="profile-top__left">
      <div class="profile-top__before-form">
        <img
          class="profile-top__avatar"
          src="{{ user.profile.image.url }}"
          alt="Avatar"
        />
        <h1 class="profile-top__title workSans-h4-h3-h2">
          {{ user.username }}
        </h1>
        <h2
          class="profile-top__title profile-top__title--under profile-top__title--834-left workSans-h4-h3"
        >
          Profile info Update
        </h2>
      </div>
      <!-- Левая сторона, начало формы изменения акка: -->
      <div class="profile-top-cont">
        <div class="profile-top__details">
          <form
            class="change-profile-form"
            method="POST"
            enctype="multipart/form-data"
          >
            <!--тип кодировки, для того что бы наша форма вставила правильные данные изображения, если забыть, форма не будет сохранять обновленное изображение-->
            {% csrf_token %} {% if form.non_field_errors %}
            <div class="">{{form.non_field_errors}}</div>
            <!--альтернатива джанго мессаджес, выводит инфу о ошибке в поле, если она есть-->
            {% endif %}
            <div class="change-profile-form__input-cont">
              <label
                class="workSans-base-body"
                for="{{ u_form.username.id_for_label }}"
                placeholder="Username"
                >Change your name here</label
              >
              <input
                type="text"
                class="form-input create-acc-form__input--username workSans-base"
                name="username"
                value="{{ u_form.username.value }}"
                id="id_username"
                placeholder="Username"
                required
              />
            </div>

            <div class="change-profile-form__input-cont">
              <label
                class="workSans-base-body"
                for="{{ u_form.email.id_for_label }}"
                placeholder="Email"
                >Change your email</label
              >
              <input
                type="email"
                class="form-input create-acc-form__input--email workSans-base"
                name="email"
                value="{{ u_form.email.value }}"
                id="id_email"
                placeholder="Email"
                required
              />
            </div>

            <div class="change-profile-form__input-cont">
              <label for="id_phone_number" class="workSans-base-body"
                >Add or change your phone</label
              >
              <input
                type="text"
                class="form-input create-acc-form__input--phone workSans-base"
                name="phone_number"
                value="{% if p_form.phone_number.value %}{{ p_form.phone_number.value }}{% endif %}"
                id="id_phone_number"
                placeholder="(000) 000-00-00"
                required
              />
            </div>

            <div class="change-profile-form__input-cont">
              <p class="workSans-base-body">Change your avatar picture</p>
              <label
                for="image"
                class="select-file-label btn btn--form btn--Outlined btn--Tertiary workSans-btns"
                placeholder="{{ p_form.image.id_for_label }}"
              >
                Select file</label
              >
              <input
                type="file"
                name="image"
                class="hidden"
                value="{{ p_form.image.value }}"
                id="image"
                accept="image/png, image/jpeg, image/jpg, image/bmp, image/gif"
              />
            </div>
            <p>
              <button
                class="btn btn--form btn--Filled btn--Tertiary btn--margin-top20 workSans-btns"
                type="submit"
              >
                Update
              </button>
            </p>
          </form>

          <div class="create-acc-form__after create-acc-form__after--left">
            <p class="workSans-base-body">Forget your password?</p>
            <a
              href="{% url 'password_reset' %}"
              class="a-as-btn btn btn--form btn--Outlined btn--Tertiary workSans-btns"
              >Reset password</a
            >
          </div>
        </div>
        <!-- Конец левой стороны -->
      </div>
    </div>
    <div class="profile-top__right">
      <h2 class="profile-top__right-title workSans-h4-h3">My orders</h2>
      <div class="profile-top__right-cards">
        {% for order in orders %}
        <div class="order-card workSans-base-body">
          <h2
            class="order-card__card-title workSans-h5"
            id="heading{{ order.id }}"
          >
            <button
              class="accordion-button accordion-button--norm workSans-h5 {% if order != orders.0 %}collapsed{% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ order.id }}"
              aria-expanded="false"
              aria-controls="collapse{{ order.id }}"
            >
              Order № {{ order.id }} - {{ order.created_timestamp }} | Status:
              <strong class="">{{order.status}}</strong>
            </button>
          </h2>
          <div
            id="collapse{{ order.id }}"
            class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}"
            aria-labelledby="heading{{ order.id }}"
            data-bs-parent="#accordionExample"
          >
            <table>
              <thead class="spaceMono-caption-base">
                <tr class="order-card__column-title">
                  <th class="order-card__elem--in-start">Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Totall price</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.orderitem_set.all %}
                <tr class="order-card__elem--in-center">
                  <td class="order-card__elem--in-start">
                    <a class="" href="{% url 'product' item.product.slug %}"
                      >{{ item.product.name }}</a
                    >
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.products_price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <p class="order-card__tolall-sum spaceMono-caption-base">
            Totall sum:
            <strong class="workSans-h5">{{ order.total_sum }}</strong
            ><span class="workSans-h5">$</span>
          </p>
        </div>
        {% endfor %}
    </div>
    </div>
  </section>
{% include "carts/includes/included_cart.html" %} 
</main>
{% endblock content %}