{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p><b>Registration</b></p>
    {% if form.non_field_errors %}
    <div class="warning login-warning">{{form.non_field_errors}}</div> <!--альтернатива джанго мессаджес, выводит инфу о ошибке в поле, если она есть-->
    {% endif %}
    <div>
        <input type="text" class="" name="username"
        id="id_username" placeholder="Enter your username" required>
        <label for="id_username" class="" placeholder="Username">Username</label>
    </div>
    <div>
        <input type="email" class="" name="email"
        id="id_email" placeholder="Enter your email" required>
        <label for="id_email" class="" placeholder="email">Email</label>
    </div>
    <div>
        <input type="password" class="" name="password1"  
        id="id_password1" placeholder="Enter your password" required>
        <label for="id_password1" class="" placeholder="password">Password</label>
    </div>
    <div>
        <input type="password" class="" name="password2"  
        id="id_password2" placeholder="Repeat your password" required>
        <label for="id_password2" class="" placeholder="password">Repeat your password</label>
    </div>
    <p>
        <button type="submit">Send</button>
    </p>
</form>
<p>Already have an account?</p>
    <p><a href="{% url 'login' %}">Sign in</a></p>
{% endblock content %}