{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="profile_text"><h1> This is a page where you can find smtng about our organization </h1>
<br>
<h2>mail: animalshare@gmail.com</h2>
<br>
<h2>Phone: 777-555-7</h2>
<br>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10981.444978844273!2d30.680081855734578!3d46.52075302229852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c62e4abe52e561%3A0x271fbf2baed60682!2z0JrQu9Cw0LTQsdC40YnQtSDQodC-0YLQvdC40LrQvtCy0YHQutC-0Lkg0KHQtdGH0Lgg4oCUINGB0YLQsNGA0LjQvdC90L7QtSDQutCw0LfQsNGG0LrQvtC1INC60LvQsNC00LHQuNGJ0LU!5e0!3m2!1sru!2sua!4v1707906152553!5m2!1sru!2sua" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock content %}
