<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title%}
        <title>Fill title section</title>
    {% else %}
        <title>Title ELSE working now</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/homec.css' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static "image/icons/favicone.ico" %}" />
</head>
<body>
<slider class="slider">
    <a href="#" title="My posts"><image src="{% static "image/icons/02.jpg" %}" alt="Icon 2" width="35px" height="35px"></image></a>
    <a href="#" title="My friends"><image src="{% static "image/icons/05.jpg" %}" alt="Icon 5" width="35px" height="35px"></image></a>
    <a href="#" title="My messages"><image src="{% static "image/icons/03.jpg" %}" alt="Icon 3" width="35px" height="35px"></image></a>
    <a href="#" title="My comments"><image src="{% static "image/icons/04.jpg" %}" alt="Icon 4" width="35px" height="35px"></image></a>
    <a href="#" title="Animal gallery"><image src="{% static "image/icons/06.jpg" %}" alt="Icon 6" width="35px" height="35px"></image></a></slider><!---->
<main class="main">
    <header class="header">
    <a href="http://127.0.0.1:8000"> Go Home page | </a> <!-- формат записи ссылок без хардкодинга, референс имени из вкладки urls.py-->
    <a href="http://127.0.0.1:8000/about"> Go about page | </a>
    <a href="{% url 'post-create' %}"> Create a new post |</a>
    {% if user.is_authenticated %}
        <div class="login_text"><a href="{% url 'profile' %}"> My profile | </a> <!-- условие для отображения ссылок на регистрацию и входа на сайт-->
        <a href="{% url 'logout' %}"> Log Out | </a></div>
    {% else %}
        <div class="login_text"><a href="{% url 'register' %}"> Registration form | </a>
        <a href="{% url 'login' %}"> Log In | </a></div>
    {% endif %}
    </header>
        <div class="firstblock">
        TOP ANIMALS
        </div><!--
        -->
        <div class="firstblock">
            TOP ANIMALS
        </div><!--
            -->
        <div class="firstblock">
            TOP ANIMALS
        </div><!--
            -->
        <div class="firstblock">
            TOP ANIMALS
        </div><!--
            -->
{% if messages %}
    {% for message in messages %}
    <div class="warning">
        {{ message }} <!--тут мы сделали условие и цикл перечиления для отображения предупредительного сообщения
        о успехе/не успехе создания нового пользователя по форме-->
    </div>
    {% endfor %}
{% endif %}
<div class="secondmain">
    <div class="post_block">
{% block content %}{% endblock %}
    </div>
    <div class="right_section">
        <div class="right_section1"><a href="#" title="Our sponsors"><image src="{% static 'image/commercial1.jpg' %}" width="100%" height="33.3%"></image></a></div>
        <div class="right_section2"><a href="#" title="Our sponsors"><image src="{% static 'image/example.jpg' %}" width="100%" height="33.3%"></image></a></div>
        <div class="right_section3"><a href="#" title="Our sponsors"><image src="{% static 'image/commercial2.jpg' %}" width="100%" height="33.3%"></image></a></div>
    </div>
</div>
</main>
</body>
</html>