{% extends "base.html" %} <!-- загрузка повторяемых элементов из родительсткого шаблона -->
{% load static %}  <!-- подгружать статики нужно на каждой странице независимо есть ли эта команда в родительском шаблоне -->
{% block content %} <!-- начало уникального контента для данной страницы-->
<h2>Our animal photos.</h2> 
<div class="asd">
{% for post in gallery %} <!-- начало цикла словарей из модуля views.py  -->
      <div class="gallery-page">
        <a class="post-title" href="{% url 'post-detail' post.id %}" title="Go to post"> {{ post.title }} </a>
        <a href="{{ post.animal_image.url }}">
          <img src="{{ post.animal_image.url }}" alt="img" >
        </a>
      </div>
      {% endfor %} <!-- всегда нужно оканчивать начало цикла в джанго-->
</div>
<div class="pagination wrapper">{% if is_paginated %} <!--начало логики для пагинации-->
    {% if page_obj.has_previous %}
    <P class="blocktext"><a href="?page=1">First page</a></P>
    <P class="blocktext previous-page"><a href="?page={{ page_obj.previous }}">Previous page</a></P>
    {% endif %}
  
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <P class="blocktext"><a href="?page={{ num }}">{{ num }}</a></P>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <P class="blocktext"><a href="?page={{ num }}">{{ num }}</a></P>
      {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
    <P class="blocktext next-page"><a href="?page={{ page_obj.next_page_number }}">Next page</a></P>
    <P class="blocktext"><a href="?page={{ page_obj.paginator.num_pages }}">Last page</a></P>
    {% endif %}
  {% endif %}</div>
{% endblock content %} <!-- конец уникального контента для данной страницы -->