{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% block content %}
<h2>Goods for our beloved animals.</h2> 
<h2>DEVELOPMENT IN PROGRES....</h2> 
<div class="asd">
<li>
  <a href="{% url 'catalog-all' %}">All goods</a>
</li><br><hr>
    {% tag_categories as categories %} <!--tag_categories это имя функции пользовательского тэга для джанго, мы создали ее в goods.templatetags.goods_tags-->
    {% for category in categories %} <!-- начало цикла словарей из модуля views.py, в данной ситуации categories это функция qwery set из шаблонных тагов  -->
<li>
  <a href="{% url 'catalog' category.slug %}">{{category.name}}</a>
</li><br><hr>
    {% endfor %}
    <br><br>
    {% for product in goods %}
    <div class="gallery-page">
      <a href="{% url 'product' product.slug %}" title="Go to description">
        <img src="{{ product.image.url }}" alt="img" >
        <a class="post-title" href="{% url 'product' product.slug %}" title="{{ product.name }}"> {{ product.name|truncatechars:20 }} </a><br><!--оберание оборажения более чем 20ти символов на странице-->
        {% if product.discount  %} <!-- начало логики для отображения скидки, функция прописана в goods.models,py sell_price -->
        <a><s>Price - {{ product.price }}</s></a><br>
        <a>Discount - {{ product.discount }}%</a><br>
        <a>Final price - {{ product.sell_price }}</a><br>
        {% else %}
        <a>Price - {{ product.price }}</a><br>
        {% endif %}
        <a>Aviable - {{ product.quantity }} pieces</a><br>
    </div>
    {% endfor %}
</div>
<div class="pagination wrapper"> <!--начало логики для пагинации-->
  {% if page_obj.has_previous %}
  <P class="blocktext"><a href="?page=1">First page</a></P>
  <P class="blocktext previous-page"><a href="?page={{ page_obj.previous }}">Previous page</a></P>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <P class="blocktext"><a href="?page={{ num }}">{{ num }}</a></P>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <P class="blocktext"><a href="?page={{ num }}">{{ num }}</a></P>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <P class="blocktext next-page"><a href="?page={{ page_obj.next_page_number }}">Next page</a></P>
  <P class="blocktext"><a href="?page={{ page_obj.paginator.num_pages }}">Last page</a></P>
{% endif %}</div>
{% endblock content %}