{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% block content %}
<main>
    <!--? Начало раздела Product-card-top -->
    <section class="product-card-top">
      <div class="product-card">
        <img
          class="product-card__img"
          src="{{ product.image.url }}"
          alt="product card"
        />
        <div class="product-card-top__left">
          <div class="product-card-top__left-top">
            <h1 class="workSans-h3-h2">{{ product.name }}</h1>
            <div
              class="product-card-top__availability-cont spaceMono-base-body"
            >
              <p>In stock <span class="spaceMono-base-body">{{ product.quantity }}</span></p>
              <p>Id № - <span class="spaceMono-base-body">{{ product.display_id }}</span></p>
            </div>
          </div>
          <div class="product-card-top__left-bottom">
            <div class="marketplace-card__price-cont spaceMono-h4-h3">
{% if product.discount  %} <!-- начало логики для отображения скидки, функция прописана в goods.models,py sell_price -->
              <p class="product-card__crossed-out-price">{{ product.price }}$</p>
              <p class="spaceMono-h4-h3">Discount {{ product.discount }}%</p>
              <p class="spaceMono-h4-h3">{{ product.sell_price }}$</p>
{% else %}
              <p class="spaceMono-h4-h3">{{ product.sell_price }}$</p>
{% endif %}
            </div>
            <button
              class="product-card__basket btn btn--Outlined btn--Secondary workSans-btns"
            >
            <a class="marketplace-card__basket"
            href="{% url 'cart-add' product.slug %}"></a>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!--? Конец раздела Product-card-top -->
    <!--? Начало раздела Product-card-bottom -->
    <section class="product-card-bottom wrapper">
      <p class="workSans-base-body">
        {{ product.description }}
      </p>
    </section>
    <!--? Начало раздела Product-card-bottom -->
  </main>
{% endblock content %}