{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% block content %}
<div class="gallery-page">
    <img class="shop-image" src="{{ product.image.url }}" alt="img" >
    <h3> {{ product.name }} </h3>
    {% if product.discount  %} <!-- начало логики для отображения скидки, функция прописана в goods.models,py sell_price -->
    <p><s>Price - {{ product.price }}</s></p>
    <p>Discount - {{ product.discount }}%</p>
    <p>Final price - {{ product.sell_price }}</p>
    {% else %}
    <p>Price - {{ product.price }}</p>
    {% endif %}
    <p>Aviable - {{ product.quantity }} pieces</p>
    <p>Id № - {{ product.display_id }}</p><!-- в обычой ситуации мы бы вызвали айди товара через запись {{product.id}},однко, если мы хотим вызвать метод класса Product с измененным отображением, пишем {{product.display_id}} -->
    <p>{{ product.description }}</p>
    <a href="{% url 'cart-add' product.slug %}">Add to my goods</a>
</div>
{% endblock content %}