{% extends "base.html" %} <!-- загрузка повторяемых элементов из родительсткого шаблона -->
{% load static %}  <!-- подгружать статики нужно на каждой странице независимо есть ли эта команда в родительском шаблоне -->
{% block content %} <!-- начало уникального контента для данной страницы-->

<a class="post-title" href="{% url 'outbox' %}" title="Outbox messages"> Outbox messages </a>
<br><br>

{% for usertouser in sms %}
<a class="post-a flex">
    <div class="post-text-box">
      <object>
          <a class="post-title" href="{% url 'user-posts' usertouser.sender.username %}" title="User posts">From: {{usertouser.sender.username}} at {{usertouser.timestamp|date:"d F - Y (H:i)"}}</a>
      </object> 
      <object>
          <a class="post-title" href="{% url 'detail' usertouser.id %}" title="Details"> {{ usertouser.subject }} <- click for detail </a>
      </object>
    </div>
</a>
{% empty %}
No messages yet.
{% endfor %}
{% endblock content %} <!-- конец уникального контента для данной страницы -->