{% extends "base.html" %} <!-- загрузка повторяемых элементов из родительсткого шаблона -->
{% load static %}  <!-- подгружать статики нужно на каждой странице независимо есть ли эта команда в родительском шаблоне -->
{% block content %} <!-- начало уникального контента для данной страницы-->
<a class="post-title" href="{% url 'inbox' %}" title="Outbox messages"> Inbox messages </a>
<br><br>
{% for usertouser in sms %}
<a class="post-a flex">
  <div class="post-user-img-box">
      <object>
          <a href="{% url 'user-posts' usertouser.recipient.username %}" title="User posts">
              <img src="{{ usertouser.recipient.profile.image.url }}" alt="img" > 
          </a>
      </object>
  </div>
  <div class="post-text-box">
      <object>
          <a class="user-name" href="{% url 'user-posts' usertouser.sender.username %}" title="User posts">For: {{usertouser.sender.username}} at {{usertouser.timestamp|date:"d F - Y (H:i)"}}</a>
      </object> 
        <p>{{ usertouser.subject }}</p>
      <p>{{ usertouser.content }}</p>
  </div>
</a>
{% empty %}
No messages yet.
{% endfor %}
{% endblock content %} <!-- конец уникального контента для данной страницы -->