{% extends "base.html" %} <!-- загрузка повторяемых элементов из родительсткого шаблона -->
{% load static %}  <!-- подгружать статики нужно на каждой странице независимо есть ли эта команда в родительском шаблоне -->
{% block content %} <!-- начало уникального контента для данной страницы-->
<main>
<div class="forum-cards--bg">
  <div class="sub-title__border">
    <div class="sub-title-cont sub-title-cont--top-padd wrapper">
      <a class="workSans-btns-h5" href="{% url 'usertouser:inbox' %}" title="Inbox messages"
        >Go to inbox messages</a
      >
      <h2 class="violet workSans-btns-h5">Outbox messages</h2>
    </div>
  </div>
  <section class="forum-comments">
    <div class="forum-comments-cont wrapper">
      {% for usertouser in sms %}
      <div class="message-card">
        <h3 class="workSans-h5 violet">
          To: <a class="workSans-h5-h4" href="{% url 'user-posts' usertouser.recipient.username %}">
            <img class="comment-card__avatar-img" src="{{ usertouser.recipient.profile.image.url }}" alt="img"
          title="User posts">{{usertouser.recipient.username}}</a> at
          {{usertouser.timestamp|date:"d F - Y (H:i)"}}
        </h3>
      <h4 class="message-card__mess-subject violet workSans-h5">
          {{ usertouser.subject }}</h4> 
        <p class="comment-card__card-text workSans-h5">
      {{ usertouser.content }}
    </p>
      </div>
      {% empty %}
      <h3 class="workSans-h5 violet">No messages yet.</h3>
      {% endfor %}
      </div>
  </section>
</div>
</main>
{% endblock content %} <!-- конец уникального контента для данной страницы -->